flows.json
[
    {
        "id": "7d1927b1264e2717",
        "type": "tab",
        "label": "Modbus",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f50f867b42ee5d51",
        "type": "tab",
        "label": "Sysinfo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56a6a6303964fe44",
        "type": "tab",
        "label": "MACInfo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a5e2e6772eb00ab",
        "type": "modbustcp-server",
        "name": "Local",
        "host": "127.0.0.1",
        "port": "502",
        "unit_id": "1",
        "reconnecttimeout": "10"
    },
    {
        "id": "651c7f53a4506c46",
        "type": "modbustcp-read",
        "z": "7d1927b1264e2717",
        "name": "Reading",
        "topic": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "10",
        "rate": "5",
        "rateUnit": "s",
        "server": "1a5e2e6772eb00ab",
        "ieeeType": "off",
        "ieeeBE": true,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "cbc5bc94565c8e92",
                "503e1294f83bcc98"
            ]
        ]
    },
    {
        "id": "cbc5bc94565c8e92",
        "type": "change",
        "z": "7d1927b1264e2717",
        "name": "Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "5482c2da2e78ba48"
            ]
        ]
    },
    {
        "id": "503e1294f83bcc98",
        "type": "change",
        "z": "7d1927b1264e2717",
        "name": "Level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 460,
        "wires": [
            [
                "0a4879b7c6f26e81"
            ]
        ]
    },
    {
        "id": "5482c2da2e78ba48",
        "type": "debug",
        "z": "7d1927b1264e2717",
        "name": "Temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "0a4879b7c6f26e81",
        "type": "debug",
        "z": "7d1927b1264e2717",
        "name": "Level",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "8fedc200dc9ce631",
        "type": "inject",
        "z": "7d1927b1264e2717",
        "name": "Set temperature",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 320,
        "y": 560,
        "wires": [
            [
                "2a765ee8fe15c969"
            ]
        ]
    },
    {
        "id": "2a765ee8fe15c969",
        "type": "function",
        "z": "7d1927b1264e2717",
        "name": "Int to arint",
        "func": "msg.payload = [msg.payload];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 640,
        "wires": [
            [
                "81ac7485cc4ef5dc"
            ]
        ]
    },
    {
        "id": "81ac7485cc4ef5dc",
        "type": "modbustcp-write",
        "z": "7d1927b1264e2717",
        "name": "",
        "topic": "",
        "dataType": "HoldingRegisters",
        "adr": "10",
        "server": "1a5e2e6772eb00ab",
        "x": 710,
        "y": 680,
        "wires": []
    },
    {
        "id": "d98e1ba52163cd24",
        "type": "inject",
        "z": "f50f867b42ee5d51",
        "name": "timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "ffa1cb193fd2d30b"
            ]
        ]
    },
    {
        "id": "ffa1cb193fd2d30b",
        "type": "NetworkIntf",
        "z": "f50f867b42ee5d51",
        "name": "",
        "x": 730,
        "y": 280,
        "wires": [
            [
                "ee3ba5787b995f54"
            ]
        ]
    },
    {
        "id": "ee3ba5787b995f54",
        "type": "debug",
        "z": "f50f867b42ee5d51",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "1fc98f5d36e50974",
        "type": "inject",
        "z": "56a6a6303964fe44",
        "name": "timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 300,
        "wires": [
            [
                "7ca2a00b3f0a10b0"
            ]
        ]
    },
    {
        "id": "7ca2a00b3f0a10b0",
        "type": "NetworkIntf",
        "z": "56a6a6303964fe44",
        "name": "",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "66e0842d5cab6022"
            ]
        ]
    },
    {
        "id": "723a1636cf35640f",
        "type": "debug",
        "z": "56a6a6303964fe44",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "66e0842d5cab6022",
        "type": "function",
        "z": "56a6a6303964fe44",
        "name": "Macs",
        "func": "var obmsg = msg.payload.networkInterfaces;\nvar obInterface = {};\nvar MACs = [];\nvar i = 0;\nfor (var key in obmsg)\n{\n    obInterface = obmsg[key];\n    MACs[i++] = \"Mac \"+i+\" is: \"+obInterface[0].mac;\n}\n\nmsg.payload = MACs;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 300,
        "wires": [
            [
                "723a1636cf35640f"
            ]
        ]
    }
]